<div class="tip-buttons-container">
  <app-tip-button (click)="toggle([btn2, btn3, btn4, btn5])" #btn1 value="5"></app-tip-button>
  <app-tip-button (click)="toggle([btn1, btn3, btn4, btn5])" #btn2 value="10"></app-tip-button>
  <app-tip-button (click)="toggle([btn1, btn2, btn4, btn5])" #btn3 value="15"></app-tip-button>
  <app-tip-button (click)="toggle([btn1, btn2, btn3, btn5])" #btn4 value="25"></app-tip-button>
  <app-tip-button (click)="toggle([btn1, btn2, btn3, btn4])" #btn5 value="50"></app-tip-button>
  <app-custom-tip (click)="toggle([btn1, btn2, btn3, btn4, btn5])" value="Custom"></app-custom-tip>
</div>
