.container{
  background-color: white;
  width: min(58rem, 80%);
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
}

.container h2{
  margin-bottom: 0.5rem;
}

.container{
  display: flex;
}

.left-side{
  flex-basis: 50%;
  padding-right: 2rem;
}

.right-side{
  flex-basis: 50%;
}

.select-tip-container{
  margin: 2rem 0;

}

.tip-buttons-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (min-width: 540px) and (max-width: 720px){
  .tip-buttons-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.7rem;
  }
}

@media screen and (max-width: 540px) {
  .container {
    flex-direction: column;
  }

  .left-side {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
