<div class="container">
  <div class="left-side">
    <section class="bill-input">
      <h2>Bill</h2>
      <app-bill-input path="../../../assets/images/icon-dollar.svg"></app-bill-input>
    </section>
    <section class="select-tip-container">
      <h2>Select Tip %</h2>
      <app-tip-buttons-group></app-tip-buttons-group>
    </section>
    <section class="number-of-people-input">
      <h2>Number of People</h2>
      <app-nop-input path="../../../assets/images/icon-person.svg"></app-nop-input>
    </section>
  </div>
  <div class="right-side">
    <app-display-card></app-display-card>
  </div>
</div>
