<div class="display-card" *ngIf="templateData$ | async as templateData">
  <div class="tip-per-person">
    <div class="left">
      <p class="title">Tip Amount</p>
      <p class="subtitle">/ person</p>
    </div>
    <div class="right">
      <p class="amount">$ {{ templateData.tipPerPerson }}</p>
    </div>
  </div>
  <div class="total-per-person">
    <div class="left">
      <p class="title">Total Amount</p>
      <p class="subtitle">/ person</p>
    </div>
    <div class="right">
      <p class="amount">$ {{ templateData.totalPerPerson }}</p>
    </div>
  </div>
  <div class="buttons">
    <button (click)="onReset()" class="reset">reset</button>
  </div>
</div>
