<div class="display-card">
  <div class="tip-per-person">
    <div class="left">
      <p class="title">Tip Amount</p>
      <p class="subtitle">/ person</p>
    </div>
    <div class="right">
      <p class="amount">$ {{ tipPerPerson }}</p>
    </div>
  </div>
  <div class="total-per-person">
    <div class="left">
      <p class="title">Total Amount</p>
      <p class="subtitle">/ person</p>
    </div>
    <div class="right">
      <p class="amount">$ {{ totalPerPerson }}</p>
    </div>
  </div>
  <div class="buttons">
    <button class="reset">reset</button>
  </div>
</div>
